# 301 Redirects exported from DashNex (gabrieldalton.com)

Redirect 301 /freewebsite https://freecourse.oasisofchange.org/
Redirect 301 /dashnex https://checkout.dashnexpowertech.com/powertech/?ref=e473e6f5&origin=dnptcheck
Redirect 301 /translink https://gabrieldalton.medium.com/case-study-sustainable-web-practices-for-translink-ca-8e89a49f9f07
Redirect 301 /newsletter https://gabrieldalton.substack.com/
Redirect 301 /vote https://survey.vancouver.ca/s3/awards-of-excellence-2025
Redirect 301 /howtovote https://gabrieldalton.medium.com/how-to-nominate-gabriel-dalton-for-vancouvers-impact-in-innovation-award-e981d2321926
Redirect 301 /ikea https://assets.gabrieldalton.com/Projects/TKS/IKEA_Standalone_Deck.pdf
Redirect 301 /microsoft https://assets.gabrieldalton.com/Projects/TKS/Microsoft_Standalone_Deck.pdf
Redirect 301 /tks https://gabrieldalton.medium.com/the-knowledge-society-tks-review-vancouver-irl-6d7fbb42284f
Redirect 301 /recommendations https://gabrieldalton.com/references/
Redirect 301 /resume http://assets.gabrieldalton.com/assets/Resume_Gabriel-Dalton.pdf
Redirect 301 /yearly https://gabrieldalton.substack.com/t/yearly-updates
Redirect 301 /monthly https://gabrieldalton.substack.com/t/monthly-updates
Redirect 301 /letter-of-recognition-patty-hajdu-pdf https://assets.gabrieldalton.com/References/Gabriel_Dalton_Letter_of_Recognition_Patty_Hajdu.pdf
Redirect 301 /letter-of-recognition-spencer-chandra-hebert-pdf https://assets.gabrieldalton.com/References/Gabriel_Dalton_Letter_of_Recognition_Spencer_Chandra_Hebert.pdf
Redirect 301 /letter-of-recommendation-farooq-khan-pdf https://assets.gabrieldalton.com/References/Gabriel_Dalton_Letter_of_Recommendation_Farooq_Khan.pdf
Redirect 301 /vsb https://www.vsb.bc.ca/city-of-vancouver-honours-digital-sustainability-innovation-led-by-vancouver-student.84832